@model designhub.Models.DocumentViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.DocumentGroup.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.DocumentGroup.DocumentGroupID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Date Created
                </th>
            <th>
                File Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Documents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.DocumentPath)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
