@model IEnumerable<designhub.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2> @Model.Select(p => p.User).First().FirstName's Projects</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                  @Html.DisplayNameFor(model => model.Name) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="DocumentGroups" asp-action="index" asp-route-id="@item.ProjectID"> @Html.DisplayFor(modelItem => item.Name) </a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
        </tr>
}
    </tbody>
</table>
