@model designhub.Models.DocumentGroupViewModels.DeleteDocumentGroup

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center page_header">Delete</h2>

<h3  class="text-center are_you_sure">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-center are_you_sure ">File @Model.DocumentGroup.Name and all of its versions will be lost.</h4>
    <hr />

        <input type="hidden" asp-for="@Model.DocumentGroup.DocumentGroupID" />
        <input type="hidden" asp-for="@Model.ProjectID" />
        <input type="hidden" asp-for="DocumentGroup.DateCreated" />
        <input type="hidden" asp-for="DocumentGroup.Name" />

     
    <form asp-action="Delete">
        <div class="form-actions no-color text-center">
            <input type="hidden" value="@Model.ProjectID" asp-for="ProjectID" />
            <input type="submit" value="Yes I Understand" class="btn btn-default btn-lg" /> 
            <a asp-action="Index" asp-route-id="@Model.ProjectID" class="btn btn-default btn-lg ">No Take Me Back</a>
        </div>
    </form>
</div>
