@model designhub.Models.DocumentGroupViewModels.DocumentGroupsList

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Project.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.Project.ProjectID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Date Created
                </th>
                <th>
                   Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentGroups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-controller="Documents" asp-action="index" asp-route-id="@item.DocumentGroupID"> @Html.DisplayFor(modelItem => item.Name) </a>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentGroupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentGroupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentGroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
