@model designhub.Models.DocumentGroupViewModels.DocumentGroupsList

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center page_header">@Model.Project.Name</h2>
<p class="text-center page_info projects_info">This is where you can keep track of versions of your files. To see the different versions, simply click on a file. The most recent update will be on top. If there are no versions included, simply click the Upload New Version button to get going. </p>

<p class="text-center">
    <a asp-action="Create" asp-route-id="@Model.Project.ProjectID" class="btn btn-lg btn-default">Add Another File</a>  
    <a asp-controller="Projects" asp-action="Index" class="btn btn-lg btn-default">Back To Projects List</a>      
</p>
<table class="table table-hover">
    <thead>
        <tr>
                <th class="table_headers">
                   File Name
                </th>
                <th class="table_headers">
                   Date Created
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentGroups)
{
    <tr data-toggle="collapse" data-target=".@item.DocumentGroupID-accordian" class="accordion-toggle">
        <td class="table_data">
            @Html.DisplayFor(modelItem => item.Name) 
        </td>
        <td class="table_data">
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>

        <td class="table_data">
            <a class="btn btn-lg btn-default" asp-controller="Documents" asp-action="Create" asp-route-id="@item.DocumentGroupID"> Upload New Version</a> 
            <a class="btn btn-lg btn-default" asp-action="Delete" asp-route-id="@item.DocumentGroupID" asp-route-projectID="@Model.Project.ProjectID">Delete</a> 

        </td>
    </tr>
    
        @foreach (var doc in Model.Documents)
        {
            <tr class="collapse hiddenRow @item.DocumentGroupID-accordian">
            @if (doc.DocumentGroupID == item.DocumentGroupID)
             {
                <td class=" hiddenRow">
                  @doc.DocumentPath 
                </td>
                <td>
                    @doc.DateCreated
                </td>
                <td>
                    <a class="btn btn-default " asp-controller="Documents" asp-action="Download" asp-route-id="@doc.DocumentID">Download</a>
                    <a class="btn btn-default" asp-controller="Documents" asp-action="Delete" asp-route-id="@doc.DocumentID"  asp-route-projectID="@Model.Project.ProjectID">Delete Version</a>
                </td>
             }
            </tr>
        }
}
    </tbody>
</table>


