@model designhub.Models.DocumentGroupViewModels.DocumentGroupsList

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Project.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@Model.Project.ProjectID">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    Name
                </th>
                <th>
                   Date Created
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DocumentGroups)
{
    <tr data-toggle="collapse" data-target=".@item.DocumentGroupID-accordian" class="accordion-toggle">
        <td>
            @Html.DisplayFor(modelItem => item.Name) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>

        <td>
            <a asp-action="Details" asp-route-id="@item.DocumentGroupID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.DocumentGroupID">Delete</a>
        </td>
    </tr>
    
        @foreach (var doc in Model.Documents)
        {
            <tr class="collapse hiddenRow @item.DocumentGroupID-accordian">
            @if (doc.DocumentGroupID == item.DocumentGroupID)
             {
                <td class=" hiddenRow">
                  @doc.DocumentPath 
                </td>
                <td>
                    @doc.DateCreated
                </td>
             }
            </tr>
        }
}
    </tbody>
</table>
